* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



.container {
    max-width: 1440px;
    margin: 0 auto;
    
}

.header {
    background-color: rgb(17, 0, 0);
}


.nav-list {
    display: flex;
    
    justify-content: flex-end;
    align-items: center; 
    list-style: none;
   }
   
   
   .nav-link {
       
       padding: 0 20px;
       line-height: 40px;
       text-decoration: none;
       color: peru;
       font-size: 16px;
   }
   
   .nav-link:hover {
       text-decoration: underline;
       color:rgb(255, 255, 255);
   }


    .section {
    width: 49%;
    padding: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid peru;
    border: 2px solid red;
}


.main-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

.userpic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    

}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    border-bottom: 10px solid peru;
    
}

.secotion-profile-title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.footer {
   
}


.footer-container {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px;
  text-align: center;
    
}

    .rss {
    width: 64px;
    height: 40px;
    ;
}

.github-link {

    
    
}

.year {
    
}
  
.rsslogo {
    
    padding: 10px;
}

.gitlogo {
    width: 64px;
    height: 64px;
}



@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

