* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

h2 {
    margin:0;
  }  

h3 {
    text-transform: lowercase;
    margin: auto;

}



.container {
    max-width: 1440px;
    margin: 0 auto;
    
}

.header {
    background-color: rgb(17, 0, 0);
}


.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    list-style: none;
   }

   
   
   .nav-link {
       padding: 0 10px;
       line-height: 40px;
       text-decoration: none;
       color: peru;
       font-size: 16px;

   }
   
   
   .nav-link:hover {
       text-decoration: underline;
       color:rgb(255, 255, 255);
   }


    .section {
    width: 49%;
    padding: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid peru;
    box-shadow: 10px 20px 30px peru;
    font-size: 18px;
    margin: 0px; 
}


.main-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

.userpic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 5px 5px rgb(67, 43, 43);
    

}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    border: 2px solid peru;
    margin: auto;

    
    
    
}

.secotion-profile-title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
 

}

.secotion-profile-title h1 {
    border-bottom: 3px solid peru;
    padding-bottom: 10px;
    box-shadow: 2px peru;
}


.projects-link {
text-decoration: none;
font-weight: 600;
font-size: 18px;
color:rgb(17, 0, 0)


}

.projects-link:hover {
text-decoration: underline;
color: rgb(84, 19, 27);

}

.footer-container {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  
 

}

    .rss {
    width: 64px;
    height: 40px;
    ;
}

.section-contacts {
    padding-bottom: 10px;
    font-size: 20px;


}





.section-courses {
    padding-bottom: 10px;
    font-size: 20px;


}

.rsslogo {
    
    padding: 10px;
}

.gitlogo {
    width: 64px;
    height: 64px;
}

.span-operators {
    color: purple;
}

.span {
    color: green;
}


.span-number {
    color: rgb(36, 158, 214);
}

.section-code {
    font-size: 16px;
}

.contacts-link {
    text-decoration: none;
    color:rgb(17, 0, 0)
    }
    
    .contacts-link:hover {
        text-decoration: underline;
        color: rgb(84, 19, 27);
        
        }

    .skills-item {
      
        font-size: 20px;
    }

    .skills-item li {
       
        padding-bottom: 10px;
    }




@media (max-width: 768px) {
    .section-code {
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .section {
        width: 100%;
        
      
    }
}

@media (max-width: 768px) {
    .secotion-profile-title {
        padding: 15px;
    }
}


@media (max-width: 768px) {
    .secotion-profile-title {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .nav-link {
        display: none;
    }
}